html {
  box-sizing: border-box;
  font-size: 10px;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: #368B85;
}

h1 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  font-family: 'Amatic SC', cursive;
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
 
  
}
.mainContainer{
  margin: auto;
}

.hitmoleBtn{
  margin: auto;
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  color: #464660;
}
@media screen and (max-width: 552px) {
  .hole {
    flex: 50%;
  }
  .game{
    width: 300px;
    height: 500px;
  }
}
.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}
