html {
  font-size: 10px;
}

body,html {
  margin: 0;
  padding: 0;
  background: url('./background.png') bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.key div {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: lowercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
.paragraph,.listen{
  font-weight: 600;
  font-size: 3rem;
}
.paragraph{
  color: white;
  text-align: center;
  background-color: #464660;
  padding-bottom: 1rem;
}
.listen{
  background-color: #464660;
  color: white;
  border-radius: 10%;
  cursor: pointer;
}
.listen:hover{
  color: #368B85;
}
a.link{
  cursor: pointer;
  font-size: 7rem;    
}
.slap{
  max-width: 100%;
  
}
